@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #1a2238;
    --title: #ff6a3d;
    --text: #9daaf2;
    --highlight: #f4db7d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

header {
    color: var(--title);
    box-sizing: border-box;
}

#page-title {
    margin-top: 20px;
    font-size: 70px;
    text-align: center;
}

#word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    margin-top: 120px;
}
#alphabet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#response-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#letterInput {
    border: none;
	padding: 10px;
	margin-right: 10px;
	font-size: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.764), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
}

#start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startTitle {
    margin-bottom: 20px;
    font-size: 70px;
    color: var(--title);
}
#startButton {
    width:230px;
    height: 80px;
    font-size: 29px;
}
.buttonStyle {
    border: none;
	padding: 10px;
	font-size: 100%;
	background-color: var(--text);
	color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.764), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
	transition: all .5s ease;
}
.buttonStyle:hover {
	background-color: var(--highlight);
	color: black;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.764), 0 6px 20px 0 rgba(255, 0, 0, 0.75);
    cursor: pointer;
	transform: scale(1.05);
	transition: all .5s ease;

}
.buttonStyle:active {
	background-color: #9a9c9c;
	color: white;
}

.alphabetLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    background: var(--text);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    transition: all .5s ease;
}
#alphabetBtn:hover {
    background-color: var(--highlight);
    color: black;
    cursor: pointer;
    transform: scale(1.2);
    transform: all .5s ease;
    box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 1, 1, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px;
}