@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #1a2238;
    --title: #ff6a3d;
    --text: #9daaf2;
    --highlight: #f4db7d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

#start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startTitle {
    margin-bottom:10px;
    font-size: 70px;
    color: var(--title);
}

#start-description {
    text-align: center;
    width:550px;
    color: var(--highlight);
}

#startButton {
    margin-top: 20px;
    width:230px;
    height: 80px;
    padding: 10px;
    font-size: 29px;
	background-color: var(--text);
    border: none;
	color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.764), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
	transition: all .5s ease;
}

#startButton:hover {
	background-color: var(--highlight);
	color: black;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.764), 0 6px 20px 0 rgba(255, 0, 0, 0.75);
    cursor: pointer;
	transform: scale(1.05);
	transition: all .5s ease;

}

#startButton:active {
	background-color: #9a9c9c;
	color: white;
}

#parentFooterText {
	display: flex;
	justify-content: center;
}

#footerText {
    text-align: center;
	position: fixed;
	bottom: 10px;
    color: var(--text);
}

@media only screen and (max-width: 550px){
    #start-description {
        width: 360px;
    }
}

@media only screen and (max-width: 360px){
    #startTitle {
        font-size: 50px
    }

    #start-description {
        width: 240px;
        font-size: 20px;
    }

    #startButton {
        width: 180px;
        height: 50px;
        font-size: 20px;
    }
}